#header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
#header p{
    padding: 15px;
}
#img{
    width: 80px;
    height: 50px;
    margin-right: 600px;
}
.heading{
    font-size: large;
    font-weight: 600;
}
.font-high{
    font-size: 43px;
    font-weight: bolder;
    width: 204px;
    grid-row-start: 2;
    position: relative;
    left: 54px;
    top: -13px;
}
.grid p {
    margin: 0;
}
.a1{
    margin-top: 20px;
    display: grid;
    gap: 27px;
    grid-template-columns: 300px 300px;
}
.grid-item{
    color: rgb(173, 169, 169);
}
.a1 img{
    width: 678px;
    height: 275px;
}

.a1 button{
    width: 110px;
    height: 38px;
    background-color: red;
    color: white;
    border: none;
    margin-top: 14px;
}
.a1 button:active, .a1 button:hover{
    background-color: rgb(1, 1, 34);
}
.block2{
    grid-column-start: 2;
    grid-row-start: 2;
}
.heading{
    color: white;
    padding-top: 18px;
}
.side-block{
    background-color: rgb(1, 1, 34);
    width: 269px;
    height: 373px;
    padding: 15px;
    overflow: auto;
    grid-column-start: 3;
    position: relative;
    top: 20px;
}
.para{
    color: rgb(173, 169, 169);
    padding-top: 10px;
    border-bottom: 1px solid;
    padding-bottom: 17px;
    border-bottom-color: #5d5858;
}
.new{
    color: rgb(229 168 23);
    font-size: 37px;
    font-weight: 500;
    margin-bottom: 20px;
}
.exp{
    color: rgb(173, 169, 169);
    padding: 9px;
    width: 175px;
}
.head2{
    font-size: 17px;
    font-weight: 600;
    padding: 4px 0px 0px 10px;
}
.num{
    font-size: 25px;
    color: #b0b4b7;
    padding: 0px 0px 0px 10px;
}
.smallimg{
    width: 100px;
}
.flex{
    display: flex;
    flex-direction: row;
}
.col-1{
    grid-column-start: 1;
    grid-row-start: 3;
}
.col-2{
    grid-row-start: 3;
}
.col-3{
    grid-row-start: 3;
}
.grid{
    display: grid;
    grid-template-columns: 325px 331px 1fr 1fr;
    grid-template-rows: 294px 130px 177px;
    gap: 30px;
    position: relative;
    top: 30px;
    left: 10%;
}
.pic-size{
    height: 154px;
}
#header p:active, #header p:hover{
    color: #b0b4b7;
    cursor: pointer;
}
.heading:active, .heading:hover{
    color: #b0b4b7;
    cursor: pointer;
}
.head2:active, .head2:hover{
    color: #b0b4b7;
    cursor: pointer;
}
